In [6]:
import pandas as pd

df = pd.read_csv("C:/Users/precious/Desktop/insurance-claim-prediction/data/Train_data.csv")
desc = pd.read_csv("C:/Users/precious/Desktop/insurance-claim-prediction/data/Variable Description.csv")

In [7]:
df.shape
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7160 entries, 0 to 7159
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer Id         7160 non-null   object
 1   YearOfObservation   7160 non-null   int64
 2   Insured_Period      7160 non-null   float64
 3   Residential         7160 non-null   int64
 4   Building_Painted    7160 non-null   object
 5   Building_Fenced     7160 non-null   object
 6   Garden              7153 non-null   object
 7   Settlement          7160 non-null   object
 8   Building Dimension  7054 non-null   float64
 9   Building_Type       7160 non-null   int64
 10  Date_of_Occupancy   6652 non-null   float64
 11  NumberOfWindows     7160 non-null   object
 12  Geo_Code            7058 non-null   object
 13  Claim               7160 non-null   int64
dtypes: float64(3), int64(4), object(7)
memory usage: 783.3+ KB

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
0,H14663,2013,1.0,0,N,V,V,U,290.0,1,1960.0,.,1053,0
1,H2037,2015,1.0,0,V,N,O,R,490.0,1,1850.0,4,1053,0
2,H3802,2014,1.0,0,N,V,V,U,595.0,1,1960.0,.,1053,0
3,H3834,2013,1.0,0,V,V,V,U,2840.0,1,1960.0,.,1053,0
4,H5053,2014,1.0,0,V,N,O,R,680.0,1,1800.0,3,1053,0

In [8]:
df.isnull().sum().sort_values(ascending=False)

Date_of_Occupancy     508
Building Dimension    106
Geo_Code              102
Garden                  7
Customer Id             0
YearOfObservation       0
Building_Fenced         0
Building_Painted        0
Residential             0
Insured_Period          0
Building_Type           0
Settlement              0
NumberOfWindows         0
Claim                   0
dtype: int64

In [10]:
df.fillna(df.median(numeric_only=True),inplace=True)

In [11]:
df = pd.get_dummies(df, drop_first=True)

In [18]:
x = df.drop("Claim", axis=1)
y = df["Claim"]

In [19]:
df.to_csv("C:/Users/precious/Desktop/insurance-claim-prediction/data/cleaned_train_data.csv", index=False)